.button {
    width : 55px;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}

.nav-container {
    background:#f6f6f6;
    font-family: Tahoma;
    font-size: 12px;
    height: 32px;
    text-transform: uppercase;
}

.posttable { 
    width : 100%;
    margin: 0px;
}

.posttitle {
    text-align: center;
    font-weight: bold;
    padding : 3px;    
    font-style: Georgia;
}

.postmessage {
    padding : 3px;    
    font-style: Georgia;
}

.posttimestamp {
    padding : 3px;    
    font-style: Georgia;
    font-weight: bold;
}

.formtitle {
    width: 90%;
    font-style: Georgia;
    margin: 10;
    padding: 0x;
}

.formbody {
    width: 90%;
    height: 70px;
    font-style: Georgia;
    margin: 10;
    padding: 1px;
}
.formselect {
    width: 50%;
    height: 60px;
    font-style: Georgia;
    margin: 10;
    padding: 3px;
}

.postlist {
    display: flex;
    flex-wrap: wrap;
}

.post-box {
    display: flex;
    vertical-align: middle;
    background-color: rgb(207, 203, 203);
    margin: 3px;
    padding: 1px;      
}

body {
    margin: 1px 1px 1px 15px;
    padding: 1px;
    font-family: Tahoma;
    text-align: left;
  
}

.button {
    width : 65px;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}