<table class = "table table-hover">
    
    <tr valign = "center">
            <td width = "5%"> {{applicant.whoApplied.firstname}} </td>
            <td width = "25%"> {{applicant.whoApplied.lastname}} </td>
            <td width = "10%"> {{applicant.jobPost.facultyFirst}} {{applicant.jobPost.facultyLast}}</td>
            <td width = "30%"> {{applicant.jobPost.title}} </td>
            <td width = "15%"> Applied </td>
            <td width = "15%"> 
                <a href = "{{ url_for('routes.display_profile', uid = applicant.whoApplied.id, aid = applicant.id) }}"> Student Profile </a>
            </td> 
    </tr>

</table>