<table class = "table table-hover">
    
    <tr valign = "center">
            <td width = "5%"> {{student.firstName}} </td>
            <td width = "25%"> {{student.lastName}} </td>
            <td width = "10%"> {{postname.facultyFirst}} {{postname.facultyLast}}</td>
            <td width = "30%"> {{postname.title}} </td>
            <td width = "15%"> Applied </td>
            <td width = "15%"> 
                <a href = "{{ url_for('routes.display_profile', id = student.id) }}"> Student Profile </a>
            </td> 
    </tr>

</table>