<table class = "posttable" style = "width:100%" valign="top">
    <tr> 
        <!-- Post Title -->
        <td colspan="3"><div class="posttitle"> {{post.title}} </div>
        </td>
    </tr>
        <td width="65%" >
            <div class="postmessage"> <!-- Need to edit CSS file to fix styling -->
              <!-- post body -->
              {{ post.description }}    
           </div>
           <div class="postmessage"> <!-- Need to edit CSS file to fix styling -->
            <!-- post will post job qualifications needed -->
            {{ post.qualifications }}    
         </div>
         <div class="postmessage"> 
            <!-- will post all researchFields job will look into researching -->
            Research Fields
            {% for tag in post.researchFields.all() %}
                    <div class = "tagitem">
                        <span style = "color: rgb(22, 21, 21);"> {{ tag.name }}</span> <!-- span element? -->
                    </div>
            {% endfor %}
         </div>
         <!-- Required Time -->
         <div class="postmessage"> 
            <!-- will post all researchFields job will look into researching -->
            <b>Required Amount of Time: </b> {{ post.requiredTime }} 
         </div>  
         <!-- Start / End Date -->
         <div class="postmessage"> 
            <!-- will post all researchFields job will look into researching -->
            <b>Start:</b> {{ post.startDate }}<b> End: </b>{{ post.endDate }} 
         </div> 
         <div class="posttimestamp"> 
            <!-- timestamp; display as local date/time , figure out styling later -->
            Posted at: {{ post.timestamp }} 
         </div> 

         <div class="postmessage"> <!-- Need to edit CSS file to fix styling -->
            <!-- post name -->
            <b>Faculty Name:</b> {{ post.facultyFirst }} {{ post.facultyLast }}    
         </div>

         <div class="postmessage"> <!-- Need to edit CSS file to fix styling -->
            <!-- post name -->
            <b>Faculty Contact:</b> {{post.facultyEmail}}
         </div>

        </td> 
        
        {% if current_user.email == post.facultyEmail %}
        <td>
            <a href = "{{ url_for('routes.deletePost', post_id = post.id) }}" class = 'applybutton'> Delete </a>
        </td>
        {% endif %}

        {% if current_user.userType == "student" %}
         <td>
   
            {% if current_user.isApplied(post) == 1 %}
               <form action="{{url_for('routes.withdrawApplication', post_id=post.id)}}" method="POST">
                     <input type="submit" value="Withdraw" class="btn btn-warning">
               </form>
            {% else %}
               
               <form action="{{ url_for('routes.createApplication', post_id = post.id, student_id = current_user.id) }}" method="POST">
                     <input type="submit" value="Apply" class="btn btn-warning">
               </form>
            {% endif %}
         </td>
        {% endif %}


    
</table>