{% extends "base.html" %}

{% block content %}

    <h1>Applied Status</h1>

    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.choice.label }}
                {{ form.choice }}
                <!-- Refresh Button -->
                {{ form.refresh(class = "button" ) }}
                
            </div>
        </form>
    {% endif %}


    <table  class = "table table-hover">
        <tr valign = "center">
            <td width = "5%"> Firstname </td>
            <td width = "25%"> Lastname </td>
            <td width = "10%"> Faculty Member </td>
            <td width = "30%"> Job Title </td>
            <td width = "15%"> Status </td>
            <td width = "15%"> Student Info </td>
        </tr>
    </table>

    {% for applicant in applicants %}
        {% include '_applied.html' %}
        
    {% endfor %}

{% endblock %}