{% extends "base.html" %}

{% block content %}

    <h1>Post New Research Position</h1>

    {% if form %}

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class = "wrapper">
            <div class="formtitle">
                <!--Displays the form item for the post's `title`.-->
                {{ form.title.label }}<br>
                {{ form.title(class="formtitle") }}<br>
    
                <!-- Errors for Title  -->
                {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="formbody">
                <!-- Input for body -->
                {{ form.description.label }}<br>
                {{ form.description(class="formbody") }}<br>
    
                <!-- Errors for body -->
                {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
    
            </div>
            <!-- start date -->
            <div class="formbody">
                <!-- Input for start date-->
                {{ form.start.label }} - mm/dd/yyyy<br>
                {{ form.start(class="date") }} <br> 
                
                <!-- Errors for start date -->
                {% for error in form.start.errors %}
                <span style="color: red;"> Not Correct Date Format </span>
                {% endfor %}
               
            </div>
            <!-- end date -->
            <div class="formbody">
                <!-- Input for  end date-->
                {{ form.end.label }} - mm/dd/yyyy <br>
                {{ form.end(class="date") }} <br> 
                
                <!-- Errors for  end date-->
                {% for error in form.end.errors %}
                <span style="color: red;"> Not Correct Date Format </span>
                {% endfor %}
            </div>
            <!-- requiredTime -->
            <div class="formbody">
                <!-- Input for  -->
                {{ form.requiredTime.label }}<br>
                {{ form.requiredTime(class="date") }}<br>
    
                <!-- Errors for  -->
                {% for error in form.requiredTime.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
    
            </div>
            <!-- qualifications -->
            <div class="formbody">
                <!-- Input for body -->
                {{ form.qualifications.label }}<br>
                {{ form.qualifications(class="formbody") }}<br>
    
                <!-- Errors for body -->
                {% for error in form.qualifications.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
    
            </div>
            <!-- research fields-->
            <div class="formtitle">
                <!-- Redirects to another page where you can add different research field tags -->
                <td><a href="{{ url_for('routes.addTag') }}" class = ""> Add New Tag </a></td>
                <!--Displays the form item for the post's research Fields.-->    
                
                <div class = "">
                    <span style = "color: rgb(22, 21, 21);"> {{ form.researchFields }}</span> <!-- span element? -->
                </div>
            

            </div>

            <br>
            {{ form.submit(class="createbutton") }}
        </div>
        
    </form>
    {% endif %}


  {% endblock %}