{% extends "base.html" %}
{% block content %}

    <h1>Post New Research Position</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
            <!--Displays the form item for the post's `title`.-->
            {{ form.title.label }}<br>
            {{ form.title(class="formtitle") }}<br>
    
            <!-- Errors for Title  -->
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <!-- Input for body -->
            {{ form.description.label }}<br>
            {{ form.description(class="formbody") }}<br>
    
            <!-- Errors for body -->
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    
            <!-- start date -->
            <!-- Input for start date-->
            {{ form.start.label }} - mm/dd/yyyy<br>
            {{ form.start(class="date") }} <br> 
                
            <!-- Errors for start date -->
            {% for error in form.start.errors %}
            <span style="color: red;"> Not Correct Date Format </span>
            {% endfor %}
               
            <!-- end date -->
            <!-- Input for  end date-->
            {{ form.end.label }} - mm/dd/yyyy <br>
            {{ form.end(class="date") }} <br> 
                
            <!-- Errors for  end date-->
            {% for error in form.end.errors %}
            <span style="color: red;"> Not Correct Date Format </span>
            {% endfor %}
            <!-- requiredTime -->
                <!-- Input for  -->
            {{ form.requiredTime.label }}<br>
            {{ form.requiredTime(class="date") }}<br>
    
            <!-- Errors for  -->
            {% for error in form.requiredTime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <!-- qualifications -->
            <!-- Input for body -->
            {{ form.qualifications.label }}<br>
             {{ form.qualifications(class="formbody") }}<br>
    
            <!-- Errors for body -->
            {% for error in form.qualifications.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <!-- research fields-->
           
                <!-- Redirects to another page where you can add different research field tags -->
                <!-- Removed link, if we want to implement java script stuff to make the page more dynamic we would put it here-->
                <!--Displays the form item for the post's research Fields.-->    
                {{form.researchFields.label}}
                <div class = "">
                    <span style = "color: rgb(22, 21, 21);"> {{ form.researchFields }}</span> <!-- span element? -->
                </div>
                
            <br>
            {{ form.submit(class="btn btn-secondary") }}
        </div>
        
    </form>
    {% endif %}


  {% endblock %}