{% extends "base.html" %}
{% block content %}

    <h1> <b>Display Student Profile</b></h1>
    <h2> <b>Student Username: {{ student.username }}</b></h2>
    <p> <b> First Name: </b> {{student.firstname }} </p>
    <p> <b> Last Name: </b> {{student.lastname }} </p>
    <p> <b> Email: </b> {{student.email }} </p>
    <p> <b> Major: </b> {{student.major }} </p>
    <p> <b> GPA: </b> {{student.GPA }} </p>
    <p> <b> Graduation Date: </b> {{student.gradDate }} </p>
    <p> <b> Research Topics: </b> {{student.researchtopic_tag.all()}} </p>
    <p> <b> Programming Languages: </b> {{student.programlangauge_tag.all()}} </p> 
    <p> <b> Technical Electives: </b>{{student.elective_tag.all()}} </p> 

    {% if student != current_user %}
        <br>
        <p> <b> Reference Name: </b> {{reference.firstName}} {{reference.lastName}} </p>
        <p> <b> Reference Email: </b> {{reference.email}} </p>
        <p> <b> Reason for job Search: </b> </p>
        <p> {{reference.body}} </p>
    {% endif %}

    {% if student == current_user %}
        <p><a href = " {{ url_for('routes.student_edit_profile') }} ">Edit Your Profile</a></p>
    {% endif %}

{% endblock %}